:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color_accent: #639471;
  --color_dark: rgb(77, 78, 77);

  --background: linear-gradient(100deg, #ffffff 20%, #e3f7ff 100%);

  --fontColor_sec: rgb(245, 236, 236);
  --fontColor_pri: rgb(29, 28, 28);

  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

* {
  color: var(--fontColor_pri);
  scroll-behavior: smooth;
  font-size: 16px;
}

header {
  position: fixed;
  inset: 0 0 auto 0;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
}

/* content */
.page {
  margin: 0;
  padding: 4vh 0 0;
  min-height: 96vh;
  background-image: var(--background);
}

.page-home {
  margin: 0;
  padding: 10vh 2vw 1vh;
  min-height: 89vh;
  background-image: var(--background);
}

.page-home p {
  font-size: clamp(1em, 2vw, 1.3em);
}

.home-align-btns {
  width: 50%;
  margin: 5vh auto 0;
  display: flex;
  justify-content: space-around;
}

.big-title {
  font-size: clamp(3.2em, 9vw, 8.8em);
  font-weight: bold;
  color: var(--color_accent);
}

.big-title * {
  color: var(--color_accent);
}

.subtitle {
  font-size: clamp(1.6em, 4vw, 2.4em);
  margin-top: -6%;
  color: var(--color_dark);
}

.market-icon {
  font-size: clamp(1em, 2vw, 2em);
}

h1 {
  font-size: clamp(1.5em, 4vw, 3.2em);
  font-weight: bold;
  color: var(--color_accent);
}

h2 {
  font-size: clamp(1em, 1.5vw, 1.3em);
  color: var(--fontColor_pri);
}

button {
  margin-top: 3vh;
  padding: 2vh 2vw;
  margin: auto;
  font-size: clamp(1em, 2vw, 1.6em);
  font-weight: bold;
  color: var(--fontColor_sec);
  border-radius: 4px;
  border: none;
  background-color: var(--color_dark);
  cursor: pointer;
  position: relative;
  z-index: 1;
}

button::before {
  content: '';
  position: absolute;
  inset: 3px;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
  background-color: var(--color_accent);
  border: none;
  border-radius: 4px;
  z-index: -1;
}

button:hover::before {
  transform-origin: center;
  transform: scaleX(1);
}

/* benefits */
.benefits {
  text-align: left;
  padding: 0 2vw;
}

.topic {
  font-weight: bold;
  font-size: clamp(1em, 2vw, 1.3em);
}

.answer {
  margin-left: 10vw;
}

/* FAQ */
.details {
  padding: 1vh 2vw;
  margin: 2vh 2vw;
  border: 2px solid var(--color_accent);
  text-align: left;
}

.summary {
  padding: 1vh 1vw;
  text-align: center;
  color: var(--fontColor_pri);
  font-weight: bold;
  font-size: clamp(0.9em, 2vw, 1.3em);
}

.details-text {
  color: var(--color_pri);
  font-size: clamp(0.8em, 2vw, 1.1em);
}

/* Footer */
footer {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid var(--color_accent);
  background-color: #333;
}

footer a {
  color: var(--fontColor_sec);
  text-decoration: none;
  cursor: pointer;
  font-size: clamp(0.8em, 1vw, 1em);
}

footer * {
  color: var(--fontColor_sec);
}

.brand {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.brand-title {
  font-size: clamp(1.4em, 2vw, 1.8em);
}

.brand-name {
  font-size: clamp(0.8em, 1vw, 1em);
}

@media screen and (max-width: 900px) {
  .page-home {
    padding: 22vh 2vw 1vh;
    min-height: 77vh;
  }

  footer {
    flex-direction: column;
    padding: 2vh 10px;
  }
}