nav {
  margin: 0;
  z-index: 999;
  backdrop-filter: blur(4px);
  background-color: var(--color_dark);
}

.navbar-align {
  margin: 2px 0;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
}

.menu-item {
  padding: 1vh 1vw;
  margin: 0 0.5vw;
  color: var(--color_accent);
  text-align: center;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  font-size: clamp(0.9, 2vw, 1.1em);
}

.menu-item * {
  color: var(--fontColor_sec);
}

.menu-item::before {
  content: '';
  position: absolute;
  inset: 4px; 
  transform-origin: center;
  transform: scaleX(0);
  transition: transform .15s ease-in-out;
  z-index: -1;
  background-color: var(--color_accent);
  border-radius: 4px;
}

.menu-item:hover::before {
  transform-origin: top;
  transform: scaleX(1);
}

.menu-icon {
  display: none;
  width: 32px;
  height: 28px;
  padding: 5px 2px 0;
  position: relative;
  cursor: pointer;
}

.menu-icon * {
  color: var(--fontColor_sec);
}

.menu-icon::before {
  content: '';
  position: absolute;
  inset: 4px 4px 4px -10px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
  background-color: var(--color_accent);
  z-index: -1;
}

.menu-icon:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

@media screen and (max-width: 1100px) {
  .navbar-align {
    width: 100%;
    justify-content: left;
  }

  .menu {
    flex-direction: column;
  }

  .menu-item {
    display: none;
    padding: 10px 2vw 4px;
    margin: 0;
  }

  .menu-item::before {
    border-radius: 0;
  }

  .menu-icon {
    display: block;
  }

  .menu.responsive {
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
  }

  .menu.responsive .menu-item {
    display: block;
    text-align: left;
  }

  .menu-item::before {
    inset: 6px 0 2px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
  }
  
  .menu-item:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}
